<div class="md-padding" layout="row" layout-align="center center">
    <div flex>
        <hr />
    </div>
    <div flex="none" class="md-title text-white text-center padding-10">Show us what you got!</div>
    <div flex>
        <hr />
    </div>
</div>
<div layout="row" layout-align="center center">
    <h1 class="md-display-3 text-white text-center text-bold margin-10" flex>CODE CHALLENGE</h1>
</div>
<div class="md-padding" layout="row" layout-algin="center center">
    <img src="img/runners.svg" flex/>
</div>